label
{
    font-size: 75px; 

}
#Read
{
    font-size: 29px;
}
html{
    background-color: silver;
}
#Toppings{
    font-size: 28px;
}
#cheese{
    font-size: 24px;

}
#tomato{
    font-size: 24px;
}